{% extends 'blog/layout.html' %}

{% block body %}
<div id="tituloConfRem">
    <h2>tem certeza que deseja remover a postagem abaixo:</h2>

    <p><strong>Título:</strong>{{ postagem.titulo }}</p>
    <p><strong>Usuário:</strong>{{ postagem.usuario }}</p>
    <p><strong>Categoria:</strong>{{ postagem.categoria }}</p>
    <p><strong>Data de postagem:</strong>{{ postagem.dataPostagem }}</p>
    <p><strong>Mensagem:</strong>{{ postagem.conteudo }}</p>
    <form action="{% url 'remover2' postagem.id %}">
        {%csrf_token %}
        <button type="submit" id="btnConfRem1">Sim</button>
    </form>
    <form action="{% url 'index' %}">
        <button type="submit" id="btnConfRem2">Não</button>
    </form>
</div>



{% endblock %}