{% extends 'blog/layout.html' %}

{% block body %}
{% if request.user.is_authenticated %}
<h2>Bem vindo {{user.username}}</h2>
{% endif %}
<h2>Insira sua postagem</h2>
<form action="{% url 'post' %}" method="post">
    {% csrf_token %}
    <label>Título:</label><br>
    <input type="text" name="tituloPost"><br>
    <label>categoria:</label><br>
    <select name="categoriaPost">
        {% for c in categorias %}
        <option value="{{c.id}}" name="categoriaPost">{{c.nome}}</option>
        {% endfor %}
    </select>
    <br>

    <label>conteúdo:</label><br>
    <textarea name="conteudoPost"></textarea><br>
    <button type="submit">Postar</button>

</form>
<hr>
<h2>Lista de postagens:</h2>
<hr>
{% for p in postagens %}
<p>{{p.titulo}}</p>
<p>{{p.usuario}}</p>
<p>{{p.categoria}}</p>
<p>{{p.dataPostagem}}</p>
<p>{{p.conteudo}}</p>
<hr>
{% endfor %}
{% endblock %}