{% extends 'blog/layout.html' %}
{% load static %}
{% block body %}
<div>
    <h2>Sandro da Paixão Coelho</h2>
    <img src="{% static  'blog/sandro1.jpg' %}" alt="Minha foto">
    <p>Meu nome é Sandro Coelho, tenho 40 anos e atualmente trabalho como repositor no Carrefour. Apesar da rotina
        puxada, sempre mantive a vontade de crescer e aprender coisas novas e encontrei na programação uma paixão que se
        transformou em objetivo de vida.

        Concluí o curso CS50’s Web Programming with Python and JavaScript (CS50W), da Universidade de Harvard, onde
        aprendi a desenvolver aplicações web completas utilizando Python, Django, JavaScript, HTML, CSS e bancos de
        dados relacionais. Essa experiência me mostrou que, mesmo começando em uma fase diferente da vida, é possível
        mergulhar em tecnologia com disciplina e dedicação.

        Hoje, estou em transição de carreira para a área de desenvolvimento web. Tenho grande interesse em backend com
        Django, integração de APIs e em construir projetos práticos que possam resolver problemas reais. Além disso,
        gosto de me desafiar aprendendo mais sobre JavaScript e ferramentas modernas de desenvolvimento. Meu objetivo é
        continuar evoluindo como desenvolvedor, construindo projetos sólidos e compartilhando essa jornada.

</div>

{% endblock %}