.hide {
    display: none;
}

.btnPostagensPai {
    display: flex;
    flex-direction: row;
}

.tituloPrincipal {
    display: flex;
    justify-content: center;
}

.menuPrincipal {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pesquisaPost {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

#formBusca {
    display: flex;
    flex-direction: center;
    gap: 5px;
}

input,
button,
textarea,
select {
    border-radius: 5px;

}

#menuSecundario {
    display: flex;
    justify-content: center;
    gap: 10px;

}



.corpo {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.corpo>.apresentacao {
    display: flex;
    justify-content: center;
}

.iptitulo,
.ipform,
.aptitulo,
.apform,
.ipp {
    display: flex;
    justify-content: center;
}

.ipform,
.apform {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.ipform>form>select,
.ipform>form>textarea,
.ipform>form>button,
.apform>form>select,
.apform>form>textarea,
.apform>form>button {
    width: 170px;
    margin: 2px;
}

.postagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.postagem {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 250px;
}

.btnPostagensPai {
    display: flex;
    justify-content: center;
}



@media (min-width:768px) {
    .responsivo {
        display: flex;
        flex-direction: row;
    }

    #formBusca {
        display: flex;
        flex-direction: column;
    }

    #formBusca>button {
        margin: 0;
    }

    .menuPrincipal {
        display: flex;
        justify-content: flex-end;
    }

    #menuSecundario {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .corpo>.apresentacao {
        display: flex;
        justify-content: center;
    }

    .postagens {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .postagem {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        border: 1px solid black;
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
        width: 250px;
    }


}